.bold {
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: space-between;
}

.text {
  width: 100%;
}

.heading {
  margin-bottom: 48px;
}

.selection {
  max-width: 564px;
  width: 100%;

  & > button:not(:last-child) {
    margin-bottom: 24px;
  }
}
