.heading {
  line-height: 100%;

  &--L-bold {
    font-size: 4em;
    font-weight: 500;
  }

  &--L-regular {
    font-size: 4em;
    font-weight: 300;
  }

  &--M {
    font-size: 2.25em;
    font-weight: 500;
  }

  &--S {
    font-size: 1.75em;
    font-weight: 500;
  }
}
